h1, h2, h3, span {
    font-family: Helvetica;
}

.title h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("pattern.jpeg");
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.prices {
    font-weight: bold;
    color: blue;
}

span {
    font-size: 16px;
}

#Brushes { 
    background-color: mediumspringgreen;
}

#Frames {
    background-color: lightcoral;
}

#Paint {
    background-color: skyblue;
}

